body {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h1, h2, h3 {
    font-family: Arial;
    margin-top: 1.5em;
}

h1 {
    font-size: 32px;
}

figure {
    float: right;
}

figcaption {
    font-style: italic;
}

table, th, td {
    border: 1px solid black;
}